<div class="home">
<div class="container-fluid py-5 h-50 d-flex justify-content-center flex-column align-items-center">
<div class="img ">
    <img  src="assets/imeges/avataaars.svg">

</div>
<div class="content text-white d-flex justify-content-center align-items-center flex-column">
    <h2 class="py-3">START FRAMEWORK</h2>
    <div class="icon w-25 d-flex justify-content-center position-relative ">
        <i class="fa-solid fa-star  "></i>
    </div>
    <div class="details py-3">Graphic Artist - Web Designer - Illustrator
    </div>

</div>
</div>
</div>